/* toolbar */
.icon-48-services, .icon-48-service {
	background: url(../images/toolbar/service.png) no-repeat left;
}

.icon-48-cpanel {
	background: url(../images/toolbar/cpanel.png) no-repeat left !important;
}

.icon-48-service-categories {
	background: url(../images/toolbar/category.png) no-repeat left;
}

/* icons */
.icon-unchecked {
	background: url(../images/icon/unchecked.png) no-repeat left;
}

.icon-checked {
	background: url(../images/icon/checked.png) no-repeat left;
}

/* descrition list*/
dl {
	margin-bottom: 10px;
}

dt,
dd {
	line-height: 20px;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 10px;
}

.dl-horizontal {
	*zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
	display: table;
	line-height: 0;
	content: "";
}

.dl-horizontal:after {
	clear: both;
}

.dl-horizontal dt {
	float: left;
	width: 120px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 130px;
}

.dl-horizontal dd p {
	border: 1px solid #cccccc;
	width: 380px;
	height: 100px;
	margin-left: 0;
	float: left;
}

.dl-horizontal dd ul {
	float: right;
}

/* unordered list*/
ul.unstyled {
	list-style: none;
	padding: 0;
  	margin: 0;
}

ul.unstyled [class^="icon-"],
ul.unstyled [class*="icon-"] {
	line-height: 20px;
	padding: 10px;
}

ul.unstyled .divider-horizontal {
	*width: 100%;
  	height: 1px;
  	margin: 9px 1px;
  	*margin: -5px 0 5px;
  	overflow: hidden;
  	background-color: #e5e5e5;
  	border-bottom: 1px solid #ffffff;
}

ul.signature {
	width: 250px;
	text-align: center;
	margin-top: 20px;
}

/* content-box */
.content-box-printed {
	border-top: 1px solid #ccc !important;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* form fields */
textarea.invalid {
	border: 1px solid red;
}

textarea.required {
	background-color: #d5eeff;
}